@import "globales";
@import "variables";


.todolist {
  &__card {
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1rem 0px;
    font-size: 1.2rem;
    color: $color__primary;
    box-shadow: 0px 0px 4px $color__blue--light;
    &--ickeck {
      background-image: url('../../../assets/ico/circulo.png');
      width: 24px;
      height: 24px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 5px 0 15px;    
    }
    &--iactive {
      background-image: url('../../../assets/ico/marque-dentro-del-circulo.png');
      width: 24px;
      height: 24px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 5px 0 15px;    
    }
    &--tactive {
      color: $color__blue;
      text-decoration: line-through;
    }

    p {
      width: 78%;
    }

    .basura {
      background-image: url('../../../assets/ico/contenedor-de-basura.png');
      width: 20px;
      height: 25px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 3px;    
      &:hover {
        background-image: url('../../../assets/ico/contenedor-de-basura-strong.png');
      }
    }
  }
}