@import "components/globales";

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.w100 {
  width: 100%;
}

.txt-center {
  text-align: center;
}

.flex-column {
  flex-direction: column;
}